$primary-red: #d32f2f;
$primary-red-dark: #b71c1c;
$primary-red-light: #ffcdd2;
$primary-blue: #0065FD;
$gray-100: #F3F4F6;

.text-primary {
  color: $primary-red !important;
}

.text-primary-red {
  color: $primary-red !important;
}

.text-primary-red-dark {
  color: $primary-red-dark !important;
}

.text-primary-red-light {
  color: $primary-red-light !important;
}

.text-primary-blue {
  color: $primary-blue !important;
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.bg-primary {
  background-color: $primary-red !important;
}

.bg-primary-red {
  background-color: $primary-red !important;
}

.bg-primary-red-dark {
  background-color: $primary-red-dark !important;
}

.bg-primary-red-light {
  background-color: $primary-red-light !important;
}

.bg-primary-blue {
  background-color: $primary-blue !important;
}

.border-primary-red {
  .trigger-base-btn {
    color: $primary-red !important;
  }
}

.border-primary-custom {
  border: 1px solid $primary-red !important;
}

.btn-primary {
  color: #FFFFFF;
  background-color: $primary-red !important;
  border-color: $primary-red !important;
}

.btn-primary:hover {
  background-color: $primary-red-dark !important;
  border-color: $primary-red-dark !important;
  color: #FFFFFF;
}


.custom-explore-btn {
  background-color: $primary-red !important;
  transition: all 0.25s ease;
  color: #fff !important;
  border-radius: 30px !important;
  padding: 8px 24px !important;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-decoration: none !important;

  &:focus {
    box-shadow: none !important;
    outline: none !important;

  }
}

.custom-explore-btn:hover {
  background-color: $primary-red-dark !important;
}

.custom-confirm-btn {
  background-color: $primary-red !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  text-decoration: none !important;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.custom-confirm-btn:hover {
  background-color: $primary-red-dark !important;
}

.custom-outline-btn {
  transition: all 0.25s ease;
  background-color: #fff !important;
  border: 1px solid $primary-red !important;
  color: $primary-red !important;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;

  &:focus {
    box-shadow: none !important;
    outline: none !important;

  }
}

.custom-outline-btn:hover {
  background-color: $primary-red !important;
  color: #fff !important;
}

.custom-icon-filled {
  background-color: #fff !important;
  color: $primary-red !important;
}

.custom-icon-filled:hover {
  background-color: $gray-100 !important;
  color: $primary-red !important;
}

.collapsible-trigger {
  background-color: $gray-100 !important;
}

.custom-dropdown-toggle {
  transition: all 0.25s ease;
  color: $primary-red !important;
  border: none !important;
  outline: none !important;
  width: 32px !important;
  height: 32px !important;
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus {
  background: $primary-red !important;
  color: #fff !important;
}

.custom-dropdown-item {
  margin: 0 !important;

  &:hover,
  &:focus {
    background: $gray-100 !important;
    color: $primary-red !important;
  }
}

.custom-group-progress {
  border: 1px solid $gray-100 !important;
  border-radius: 10px !important;
}

.pgn__checkpoint {
  background: $gray-100 !important;
  border-top-color: $primary-red !important;
}

.pgn__checkpoint .pgn__checkpoint-pgn__form-radio.pgn__checkpoint-breadcrumb_active {
  background: $primary-red !important;
}


.pgn__form-radio {
  border-top-color: $primary-red !important;
}

.pgn__form-radio-input:checked {
  background: $primary-red-dark !important;
  background-image: none !important;
}

.btn-icon.btn-icon-primary {
  color: $primary-red !important;
}

.btn-icon.btn-icon-primary:hover {
  background: $primary-red !important;
  color: #fff !important;
}

.btn-icon.btn-icon-primary:focus {
  box-shadow: none !important;
}

.custom-tabs {
  border: none;
  margin-bottom: 1.625rem;

  .nav-link {
    border-bottom: .125rem solid $gray-100;
    padding: 15px;

    &:hover {
      color: $primary-red !important;
      background-color: transparent !important;
    }
  }

  .nav-link.active {
    background-color: transparent;
    color: $primary-red !important;
    border-bottom: 2px solid $primary-red !important;
  }
}

.nav-tabs .nav-link:focus::before,
.nav-tabs .nav-item.show .nav-link:focus::before {
  border: none !important;
}













// Overriding styles for __discussion.scss in Open edX
// --------------------------------------------------
#root .header-action-bar {
  // max-width: 1600px;
  // margin: 0 auto;
  // width: 100%;
  // padding: 0 15px;
  // box-shadow: none;
  // position: static !important;
  // z-index: 3 !important;

  .navbar {
    // padding: 0 0 28px;

    // @include media-breakpoint-down(sm) {
    //   display: block !important;
    // }

    .nav-button-group {
      // padding: 0 !important;

      // @include media-breakpoint-down(sm) {
      //   margin: 0 0 10px;
      // }

      .nav-item {
        &:first-of-type {
          .nav-link {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
        }

        &:last-of-type {
          .nav-link {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }

        .nav-link {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          padding: 9px 17px;
          border-radius: 0;
          border: 1px solid #E5E7EB;
          margin-right: -1px;

          @include media-breakpoint-down(sm) {
            padding: 9px 12px;
          }

          &:hover {
            background: $primary-red !important;
            color: #fff !important;
          }

          &.active {
            background: $primary-red !important;
            color: #fff !important;
          }

          &:focus {
            outline-offset: 3px;
            position: relative;
            z-index: 1;
          }
        }

      }
    }

    // .border-right.border-light-400.mx-3 {
    //   display: none !important;
    // }

    // .btn.btn-brand {
    //   padding: 9px 17px;
    //   font-size: 16px;
    //   line-height: 22px;
    //   font-weight: 500;
    //   border-radius: 6px;
    //   background: $primary-red !important;
    //   margin: 0 0 0 12px;
    //   white-space: nowrap;
    // }

  }
}

// .pgn__pageBanner__accentB {
//   margin: 0 0 30px;
// }

// #root .header-action-bar+.d-flex.flex-row.position-relative {
//   max-width: 1600px;
//   margin: 0 auto;
//   padding: 0 15px 30px;
//   width: 100%;

//   .flex-column.position-sticky.d-flex {
//     position: relative !important;
//     top: 0 !important;
//     max-height: 100% !important;
//     z-index: 29;
//     max-width: 35% !important;
//     width: 100% !important;
//     min-width: 290px !important;

//     @include media-breakpoint-down(sm) {
//       max-width: 100% !important;
//     }

//     .pgn-transition-replace-group {
//       .collapsible-body {
//         padding: 10px !important;

//         .list-group-flush {
//           width: 33.33%;

//           .filter-menu {
//             font-size: 12px;
//             padding: 0 0 5px !important;
//             align-items: flex-start !important;

//             .pgn__icon {
//               width: 20px !important;
//               height: 17px;
//               margin: 0 5px 0 0 !important;
//             }

//             .text-truncate {
//               white-space: normal !important;
//             }
//           }
//         }
//       }
//     }
//   }

//   .d-flex.bg-light-400.flex-column {
//     max-width: 65%;

//     @include media-breakpoint-down(sm) {
//       max-width: 100%;
//     }

//     .post-form {
//       @include media-breakpoint-down(sm) {
//         margin: 0 !important;
//       }

//       .justify-content-end button {
//         padding: 7px 11px !important;
//         font-size: 12px;
//         font-weight: 500;
//       }

//       .font-style.d-flex.flex-row {
//         @include media-breakpoint-down(sm) {
//           display: block !important
//         }
//       }

//       .card {
//         width: 170px !important;

//         @include media-breakpoint-down(sm) {
//           width: 120px !important;
//         }

//         .pgn__card-section {
//           @include media-breakpoint-down(sm) {
//             padding: 10px !important;
//           }
//         }
//       }
//     }
//   }
// }

// .masquerade-bar {
//   .btn-brand {
//     background: $primary-red !important;
//     border-color: $primary-red !important;
//   }
// }

